@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

:root{
    --primary-color: rgb(16, 121, 153);
    --primary-color-darker: rgb(6, 37, 46);
}

*{
    box-sizing: border-box;
    outline: 0;
}

body {
    margin: 0;
    padding: 0;
    background: var(--primary-color);
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.3em;
    line-height: 1.3em;
}

.container{
    max-width: 640px;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
}

form input, form label, form button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

form input {
    font-size: 20px;
    height: 30px;
    padding: 0 20px
}

form input:focus{
    outline: 1px solid var(--primary-color);
}

form button{
    border: none;
    background: var(--primary-color);
    color: white;
    font-size: 18px;
    font-weight: 700;
    height: 30px;
    cursor: pointer;
    margin-top: 20px;
}

form button:hover{
    background: var(--primary-color-darker);
}

.paragrafoResultado{
    background: rgb(13, 247, 102);
    padding: 10px;
}

.paragrafoErro{
    background: rgb(189, 79, 79);
    padding: 10px;
}